.btn{
 
    width: 100%;
    padding:15px;
    border: none;
    background-color: #D15B2C;
    color: white;
    font-size: 14px;
    margin-bottom: 10px 
  
}

.custom-datepicker-popper {
    background-color: white !important; /* Ensure background is white */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow around calendar */
    border-radius: 5px; /* Optional: Adds rounded corners */
  }